name: Update client
on:
  schedule:
    - cron:  '0 10 * * 1'
  workflow_dispatch:
jobs:
  update-dep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
          cache: true
      - run: make fetch-openapi
      - run: make generate
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
            token: ${{ secrets.PAT }}
            commit-message: "feat: update client"
            title: Update client
            body: |
              Re-generated the client based on the api schema.
            branch: update-client
            author: 'HumanitecBot <engine@humanitec.com>'
